.header-grid{
    margin: 10px;
    text-align: right;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-buttons{
    border-style: none;
    color: black;
    background-color: transparent;
    font-size: small;
    margin: 10px;
}

.header-loggin{
    color: white;
    background-color: rgb(77, 136, 245);
    padding: 7px 10px 7px 10px;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.header-grid a:link{
    text-decoration: none;
}

.header-grid a:hover{
    text-decoration: black;
    text-decoration: underline;
}

.div-body {
    margin: auto;
    width: auto;
    font-family: Arial, sans-serif;
    
}

.main-grid{
    text-align: center;
    width: 100%;
}
.google-form{
    display: inline-block;
    text-align: center;
    vertical-align: middle;

}

.search-div{
    text-align: center;
    margin: 10px;
    border-radius: 24px;
    border-style: solid;
    padding: 10px;
    box-shadow: none;
    border-color: #dfe1e5;
    border-width: 1px;
}

.search-div:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

.search-input{
    width: 527px;
    padding-left: 30px;
    border-style: hidden;
    font: 16px Arial, Helvetica, sans-serif;
}

.search-input:focus{
    border-style: hidden;
    outline-offset: unset;
    outline: unset;
}

.google-buttons-div {
    padding-bottom: 20px;
    margin-top: 30px;
}

.google-buttons-input{
    margin: 3px;
    color: #5F6368;
    border-radius: 5px;
    background-color: #f8f8f8;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    border-color: #f8f8f8;
    height: 40px;
    border-style: solid;
}

.preguntas-div{
    font-size: small;
    margin-bottom: 40px;
}

.preguntas-p{
    margin: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.preguntas-div a:link{
    text-decoration: none;
}


